{% extends "layout.html" %}
{% load static %}

{% block contenido %}
    <h1>Mostrar equipo </h1>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>campeon</th>

            </tr>
        </thead>
        <tbody>


            <tr> <!-- table row -->
                <td>
                    {{ equipo.nombre }}
                    {% if equipo.campeon %}
                        <span class="badge bg-danger">Campeon </span>
                <td>

                    <img src="{% static 'img/barcaCamp.png' %}"
                         alt="imagen"
                         class="img-thumbnail"
                         width="200"
                    >
                </td>
                    {% endif %}
                </td>

            </tr>

        </tbody>
    </table>
{% endblock %}

